<html>
  <head>
    <title>NO JOBS FOR YOU</title>
    <meta http-equiv="refresh" content="4;url=/" />
  </head>
  <body>
    <% 500.times do %>
    <span>NO JOBS FOR YOU! REDIRECTING...</span>
    <% end %>
  </body>
</html>
