<html>
  <head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <title>ADD TO CODER NEWS</title>
  </head>
  <body>
    <div id="header">
      <div id="header-logo"><a href="/"><h3>T.I.Y.</h3></a></div>
      <div><h3>CodeR NewZ</h3></div>
      <div id="header-links">
        <div><a href="/new">new</a></div>
        <div><a href="">comments</a></div>
        <div><a href="">show</a></div>
        <div><a href="">ask</a></div>
        <div><a href="/jobs">jobs</a></div>
        <div><a href="" style="border-right-width: 0px">submit</a></div>
        <div id="big-spacer"></div>
        <div id="login"><a href="" style="border-right-width: 0px">login</a></div>
      </div>
    </div>
    <div class="posts">
      <div id="add_form">
        <h1>THANK YOU CONTRIBUTING!</h1>
        <h3 style="color: red">ERROR: all fields MUST be completed</h3>
        <form action="/add">
          Title: <input id="title" type="text" name="title">
          <br><br>
          Link:  <input id="link" type="text" name="link">
          Email: <input id="email" type="text" name="email">
          <br><br>
          <input id="button" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
